
.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

//宽度为0
.width-0 {
  width: 0;
}

//高度为0
.height-0 {
  height: 0;
}

//宽度为0
.width-0-important {
  width: 0 !important;
}

//高度为0
.height-0-important {
  height: 0 !important;
}